/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

#root {
  margin: 0;
  padding: 0;
}

/* Keyframes */

@keyframes auraFoto {
  0% {
    /* Começa menor e mais nítida */
    box-shadow: 0 0 20px 5px rgba(191, 114, 255, 0.5);
  }
  50% {
    /* No meio da animação, ela fica maior e mais difusa */
    box-shadow: 0 0 50px 20px rgba(191, 114, 255, 0.3);
  }
  100% {
    /* Volta ao estado inicial para criar o loop suave */
    box-shadow: 0 0 20px 5px rgba(191, 114, 255, 0.5);
  }
}

/* Estilos Globais */

a {
  text-decoration: none;
}

h1 {
  font-family: "Happy Monkey", system-ui;
}

h2 {
  font-family: "Handlee", cursive;
  font-size: 2em;
}

h3 {
  font-family: "Handlee", cursive;
}

p {
  font-family: "Lusitana", serif;
  color: #000;
  opacity: 55%;
  font-size: 1.2em;
}

hr {
  margin: 0;
  padding: 0;
  width: 90%;
  background-color: #000;
  align-self: center;
}

.sc-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.st-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 10;

  /* Estilo */
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: 500ms box-shadow;
}

.st-header:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.st-header h1 {
  padding-left: 6em;
  margin: 0;
  align-self: center;
}

.st-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  padding-right: 10em;
}

.st-nav a {
  font-size: 1.25em;
  color: #000;
  font-family: 'Handlee', cursive;
}

.st-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.st-mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  gap: 1em;
}

.st-foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 300ms transform;
}

.st-foto:hover {
  transform: scale(1.05);
  animation: auraFoto 2s linear infinite;
}

.st-td {
  text-align: center;
}

.st-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 1em;
}

.st-button1 {
  margin: 0;
  border: none;
  text-align: center;
  background-color: #000;
  opacity: 90%;
  color: #fff;
  border-radius: 8px;
  width: 10vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  transition: 300ms;
  font-weight: bold;
  cursor: pointer;
}

.st-button1:hover {
  transform: scale(1.1);
  background-color: #333;
}

.st-button2 {
  margin: 0;
  text-align: center;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  width: 12vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  transition: 300ms;
  font-weight: bold;
  cursor: pointer;
}

.st-button2:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
}

.st-main i {
  font-size: 2em;
}

.st-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 4em;
  gap: 2em;
}

.st-hPortfolio h2 {
  margin: 0;
}

.st-hPortfolio p {
  margin: 0;
}

.st-hPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.st-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.st-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
}

.st-itemInfo h4 {
  margin: 0;
  padding: 0;
}

.st-itemInfo p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.st-itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8vh;
  gap: 0.2em;
}

.st-item img {
  width: 300px;
  height: 300px;
}

.st-filtros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.st-buttonFiltros {
  margin: 0;
  padding: 0.8em 2em;
  border: none;
  border-radius: 8px;
  align-items: center;
  font-weight: bold;
  transition: 300ms;
}

.st-active {
  background-color: #000;
  color: #fff;
}

.st-noActive {
  background-color: #f3f3f3;
  color: #000;
}

.st-noActive:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.st-sobre {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 95%;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: #fff;
}

.st-sobre img {
  height: 600px;
  width: 600px;
  object-fit: cover;
}

.st-infoSobre {
  display: flex;
  flex-direction: column;
  height: 67vh;
  gap: 3em;
}

.st-infoSobre h5 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: 'Lusitana', serif;
  font-weight: 600;
}

.st-infoSobre h6 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-family: 'Lusitana', serif;
  font-weight: 600;
}

.st-infoSobre article {
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: justify;
  gap: 0.5em;
}

.st-infoSobre p {
  margin: 0;
}

.st-sobreTecnicas {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.st-sobreTecnicas p {
  padding: 0.2em 1em;
  border: 2px solid #00000098;
  opacity: 100%;
  font-size: 1em;
  border-radius: 8px;
  background-color: #fff;
}

.st-sobreExperiencias p {
  border-left: 2px solid #00000098;
  padding-left: 1em;
}

.st-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 100%;
  background-color: #0f111c;
  padding-top: 2em;
}

.st-footer h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: bold;
  font-family: 'Lusitana', serif;
  font-size: 1.4em;
}

.st-footerArticle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.st-footerInfo {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.st-footerInfo p {
  margin: 0;
  padding: 0;
  font-family: 'Lusitana', serif;
  font-size: 1em;
  color: #fff;
  align-self: flex-start;
}

.st-footerContato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 0.5em;
}

.st-footerContato p {
  margin: 0;
  padding: 0;
  font-family: 'Lusitana', serif;
  font-size: 1em;
  color: #fff;
  align-self: flex-start;
  border-left: 2px solid #fff;
  padding-left: 1em;
}

.st-footerDA {
  color: #fff;
  font-family: 'Lusitana', serif;
  font-size: 0.9em;
  margin-top: 1em;
}